h4 , h2 {
    font-family: 'Nunito', sans-serif;
}
.col-md-2 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.team {
    background-color:#03010c ;
    /* background-image: url(imgs/rays.png); */
    background-position: left;
    overflow: hidden;
}
.team .card {
    background-color:unset;
    border: 0px !important;
}
.team h2 {
    font-size:3rem;
    font-weight: 900;
    color: #fff;
    letter-spacing: 12px;
    position: relative;
    z-index: 99;
}
.team h2::after{
    content: "";
    position: absolute;
    background:linear-gradient(90deg, rgba(45,117,193,1) 0%, rgba(64,98,180,1) 15%, rgba(110,54,150,1) 100%);;
    width:100%;
    height: 8px;
    bottom: 10px;
    right: 0%;
    z-index:-1;
}

.card h4 {
    font-weight: 800;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #fff;
}

.img12 , .img22 , .img32 , .img42 , .img52 {
    position: absolute;
    bottom: 77px;
    left: 25%;
}
.img11 , .img21 , .img31 , .img41 , .img51 {
    position: relative;
    top: 71px;
    left: 25px;
    transform-origin: bottom center;
    transition: transform 3s;
}
.img21{
    top: 41px;
    left: 21px;
}
.img31{
    top: 85px;
    left: 21px;
}
.img41 {
    top: 54px;
    left: 32px;
    z-index: 555;
    transform-origin: center center;
}
.img51{
    top: 103px;
    left: 13px;
}
.full-img{
    display: flex;
    flex-direction: column;
    width: 200px;
    height:295px;
}

.team .card .full-img:hover .img11 , 
.team .card .full-img:hover .img21 ,
.team .card .full-img:hover .img31 ,
.team .card .full-img:hover .img41 ,
.team .card .full-img:hover .img51{
    animation: wiggle 09s;
    animation-iteration-count: infinite;

  }
   @keyframes wiggle {
     /* 0% { transform:  rotate(0deg); }
    10% { transform:  rotate(-10deg); }
    20% { transform:rotate(10deg); }
    30% { transform: rotate(-10deg); }
    40% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    60% { transform:rotate(10deg); }
    70% { transform: rotate(-10deg); }
    80% { transform:  rotate(10deg); }
    90% { transform: rotate(-10deg); }
    100% { transform:rotate(10deg); }  */

     0% { transform:  scale(1.2); }
    10% { transform: scale(1) ; }
    20% { transform:scale(1.2); }
    30% { transform: scale(1); }
    40% { transform: scale(1.2); }
    50% { transform: scale(1); }
    60% { transform:scale(1.2); }
    70% { transform: scale(1); }
    80% { transform: scale(1.2); }
    90% { transform:scale(1); }
    100% { transform:scale(1.2); }
  } 
  
.team .card .full-img:hover .img12 , 
.team .card .full-img:hover .img22 ,
.team .card .full-img:hover .img32 ,
.team .card .full-img:hover .img42 ,
.team .card .full-img:hover .img52{
    animation: wiggle 09s;
    animation-iteration-count: infinite;

  }
   @keyframes wiggle {
    0% { transform:  scale(1.2); }
    10% { transform: scale(1) ; }
    20% { transform:scale(1.2); }
    30% { transform: scale(1); }
    40% { transform: scale(1.2); }
    50% { transform: scale(1); }
    60% { transform:scale(1.2); }
    70% { transform: scale(1); }
    80% { transform: scale(1.2); }
    90% { transform:scale(1); }
    100% { transform:scale(1.2); }
   }
  
  /* .team .card #teamimg:hover {
    animation: wiggle 0.5s;
    animation-iteration-count: infinite;
  }
  @keyframes wiggle {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }  */


.team .btn{
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    font: 2em/1;
    padding: 1REM 1.2REM;
    letter-spacing: 5px;
    color: white;
    border: solid 4px transparent;
    border-image: linear-gradient(45deg, #3071be, #6d3797);
    border-image-slice: 1;
    background: linear-gradient(45deg, #3071be, #6d3797) ;
    -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.3s ease;
  }
.team .btn:hover{
    background: linear-gradient(45deg, #3071be, #6d3797) ;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transform: translateY(-5px);
  }

  .mob-row {
      display: none;
  }


 @media (max-width: 576px) { 
   .header-w{
        width: 75% !important;
    }
    .team h2 {
        font-size: 2.3rem;
    }
    .team h2::after {
        bottom: 1px;
      
    }
    .team .btn {
        letter-spacing: 2px;
    }

  }

  
  @media (max-width: 768px) { 
 
   }
  

  @media (max-width: 992px) { 
      .desk-row {
          display: none;
      }
      .mob-row{
          display: block;
      }
      .mob-row .card {
          margin: auto;
      }
    .btn {
        font: 1em/1;
    }
   

   }